.header {
    width: 100%;
    height: 840px;
}

.menu-block {
    width: 100%;
    background-color: white;
    height: 50px;
}

.menu {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
    gap: 40px;
}
.menu a {
    text-decoration: none;
    transition: .2s all ease;
    color: black;
    position: relative;
}

.menu-element {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
}

.logo {
    position: absolute;
    line-height: 45px;
    height: 45px;
    left: 6%;
    top: 7.5px;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 700;
}

.planet {
    border-radius: 50%;
    animation: pulsation 4s linear infinite;
    transition: .5s all ease;
}

.ogrizok {
    border-radius: 0 0 100% 0;
    animation: pulsation_ogrizok 4s linear infinite;
}